/* FONTES ESTILIZADAS */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root{
    /*Fonte utilizada para escrever conteudo da página */
    --fonte-primaria: 'Source Sans 3', Arial;
    /*Fonte usada para coisas titulos*/
    --fonte-secundaria: 'Righteous', Monospace;
}

/* PALETA DE CORES DO SITE */
:root{
    --cor-primaria: #1599D8;
    --cor-secundaria: #F2AACC;
    --cor-terciaria: #D8C47B;
    --cor-branco: #FFFFFD;
    --cor-texto: black;
}

/* CORPO DO SITE */
body {
    background: var(--cor-branco);
    color: var(--cor-texto);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.titulointroducao{
    color: var(--cor-primaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 20px;
    padding-top: 25px;
    letter-spacing: 5px;
}
header{
    margin-bottom: 100px;
    position: fixed;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    height: 153px;
    background-color: black;
    transition: height 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
    z-index: 2;
}
header.scrolled{
    height: 105px;
}
header::before{ 
    margin-right: -100%;
    content: '';
    min-width: 100%;
    aspect-ratio: 1/1;
    scale: 1.1;
    background: linear-gradient(217deg, var(--cor-secundaria) 35%, transparent 70.71%),
                linear-gradient(127deg, var(--cor-primaria) 35%, transparent 70.71%),
                linear-gradient(336deg, var(--cor-terciaria) 90%, transparent 70.71%);
    animation: rotating 10s infinite;
    animation-timing-function:linear;
    transition: opacity 0.1s cubic-bezier(0.075, 0.82, 0.165, 1);
}
header.scrolled::before{
    opacity: 0;
}
body .logo{
    width: 100px;
    aspect-ratio: 1/1;
    mask-size: cover !important;
    margin-left:10px
}
.logo ::after{
    background-color: var(--cor-texto) !important;
    transition: background-color 0.25 cubic-bezier(0.075, 0.82, 0.165, 1);
}
header.scrolled .logo::after{
    background-color: var(--cor-branco) !important;
}
header:not(header:has(.menu)) .logo{
    margin: auto;
    aspect-ratio: 2.7/1;
    mask-size: 95% 95% !important;
    width: 375px;
    transition: width 0.25s cubic-bezier(0.075, 0.82, 0.165, 1);
}
header.scrolled:not(header:has(.menu)) .logo{
    width: 275px;
}
@keyframes rotating {
    0%{rotate:0deg}
    100%{rotate:360deg}
}

/* MENU */
.menu {
    align-items: center;
    text-align: center;
    position: relative;
    font-family: var(--fonte-primaria);
    font-size: 15px;
    margin: auto;
}

.menu li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.menu ul {
    padding: 0;
    margin: 0;
    padding: 0px 10px;
    line-height: 25px;
    transition: color 0.25 cubic-bezier(0.075, 0.82, 0.165, 1);
}

.menu a {
    color: var(--cor-texto);
    text-decoration: none;
    transition: color 0.25 cubic-bezier(0.075, 0.82, 0.165, 1);
}
header.scrolled .menu a, header.scrolled .menu ul{
    color: var(--cor-branco);
}
ul li a:hover {
    color: var(--cor-primaria) !important;
}

.img-tit{
    display: flex;
    flex-direction: column;
    align-items: center;
}
main{
    margin-top:175px;
}

.imagemintroducao {
    mask-size: 200% !important;
    mask-position: center !important;
    margin: auto;
    aspect-ratio: 1/1;
    display: flex;
}
.imagemintroducao:not(.logo){
    width: 150%;
    min-width: 200px;
}
.imagemintroducao::after{
    content: '';
    background-color: var(--cor-primaria);
    width: 100%;
    height: 100%;
}

/* RODAPÉ */
footer {
    background: var(--cor-terciaria);
    width: 100%;
    margin-top: auto;
}

footer .rodape1 {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    color: var(--cor-texto);
    font-family: var(--fonte-primaria);
    flex-wrap: wrap;
}

footer .rodape1 ul {
    text-align: center;
}

footer .rodape1 h3 {
    margin-bottom: 16px;
    font-weight: 600;
    text-align: center;
}

footer .rodape1 .redes-sociais img {
    padding: 5px;
    width: 30px;
    height: 30px;
}

.direitos {
    width: 15px;
    height: 10px;
}

footer .rodape1 .paragrafo ul {
    margin-bottom: 40px;
}

footer .rodape1 li {
    list-style: none;
}

footer .rodape1 a {
    color: var(--cor-texto);
    text-decoration: none;
}