.container{
    display: flex;
    max-width: 1024px;
    margin: auto;
    gap: 1rem;
    flex-wrap: wrap;
    margin-bottom: 40px;
}
.sub-esporte{
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;
}
.esporte{
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-color: gray;
    background-size: 100%;
    background-position: 50% 0%;
    padding: 10px;
    width: 300px;
    aspect-ratio: 3/1;
    transition: background-size 0.1s ease-out;
}
.sub-esporte:hover .esporte, .sub-esporte:focus .esporte{
    background-size: 110%;
}
.sub-esporte::before{
    content:'';
    display: block;
    background: linear-gradient( black, black 10%, transparent 40%, transparent 60%, black 90%,black);
    position: absolute;
    width: 320px;
    height: 120px;
    border-radius: 20px;
    background-position: center;
    background-size: 100% 1000%;
    transition: background-size 0.1s ease-out;
}
.sub-esporte:hover::before{
    background-size: 100% 200%;
}
.esporte-tit{
    font-family: var(--fonte-secundaria);
    color: var(--cor-branco);
    font-size: 2rem;
    text-align: center;
    text-shadow: black 5px 0 10px;
}