/* PALETA DE COR PARA OS SITES (é a palta das olimpiadas 2023 :3 )*/
:root{
    --cor-primaria: #1599D8;
    --cor-secundaria: #F2AACC;
    --cor-terciaria: #D8C47B;
    --cor-branco: #FFFFFD;
}

/* NÃO SE ESQUEÇA DE COLCOAR OS PICTOGRAMAS DOS ESPORTES NO SEU SITE: 
https://olympics.com/pt/paris-2024/os-jogos/a-marca/pictogramas */