/* FONTES ESTILIZADAS */
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');

:root{
    /*Fonte utilizada para escrever conteudo da página */
    --fonte-primaria: 'Source Sans 3', Arial;
    /*Fonte usada para coisas titulos*/
    --fonte-secundaria: 'Righteous', Monospace;
}

/* PALETA DE CORES DO SITE */
:root{
    --cor-primaria: #1599D8;
    --cor-secundaria: #F2AACC;
    --cor-terciaria: #D8C47B;
    --cor-branco: #FFFFFD;
    --cor-texto: black;
}

/* CORPO DO SITE */
body {
    background: var(--cor-branco);
    color: var(--cor-texto);
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

.titulointroducao{
    color: var(--cor-primaria);
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 20px;
    padding-top: 25px;
    letter-spacing: 5px;
}

.img-tit{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* IMAGEM INTRODUÇÃO */
.imagem{
    display: flex;
    max-width: 900px;
}

.textoimagem{
    font-family: var(--fonte-primaria);
    font-size: 1.25rem;
    text-align:left;
    position: relative;
    margin: auto;
    margin-left: 10px;
    flex-grow: 1;
}
.imagemintroducao {
    mask: url(./imagens/pentlato-removebg-preview.png)no-repeat;
    mask-size: 200%;
    mask-position: center;
    width: 150%;
    min-width: 200px;
    margin: auto;
    aspect-ratio: 1/1;
    display: flex;
}   
.imagemintroducao::after{
    content: '';
    background-color: var(--cor-primaria);
    width: 100%;
    height: 100%;
}

/* MENU */
.menu {
    align-items: center;
    text-align: center;
    position: relative;
    font-family: var(--fonte-primaria);
    font-size: 15px;
}

.menu li {
    list-style: none;
    display: inline-block;
    margin: 0 20px;
}

.menu ul {
    padding: 0;
    margin: 0;
    padding: 0px 10px;
    line-height: 25px;
}

.menu a {
    color: var(--cor-texto);
    text-decoration: none;
}

ul li a:hover {
    color: var(--cor-primaria);
}

/* RODAPÉ: INTRODUÇÃO */
footer {
    background: var(--cor-terciaria);
    width: 100%;
    margin-top: auto;
}

footer .rodape1 {
    display: flex;
    align-items: baseline;
    justify-content: space-evenly;
    color: var(--cor-texto);
    font-family: var(--fonte-primaria);
}

footer .rodape1 ul {
    text-align: center;
}

footer .rodape1 h3 {
    margin-bottom: 16px;
    font-weight: 600;
    text-align: center;
}

footer .rodape1 .redes-sociais img {
    padding: 5px;
    width: 30px;
    height: 30px;
}

.direitos {
    width: 15px;
    height: 10px;
}

footer .rodape1 .paragrafo ul {
    margin-bottom: 40px;
}

footer .rodape1 li {
    list-style: none;
}

footer .rodape1 a {
    color: var(--cor-texto);
    text-decoration: none;
}